*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    color: rgb(20, 2, 37);
  }

  h1{
    font-size: 40px;
  }

  #joke{
    color: rgb(1, 47, 107);
   text-align: center;
   display: flex;
   align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #15d3f9d5;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px grey;
    font-size: 18px;
    width: 550px;
    height: 250px;
    margin: 50px;
    font-size: 24px;
    font-weight: bold;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 100%;
    width: 100%;
  }
  
  button{
    width: 100px;
    border: none;
    border-radius: 12px;
    border-bottom: 2px solid black;
    background-color: yellowgreen;
    font-size: 22px;
    padding: 5px;
  }
  
  button:hover{
    cursor: pointer;
  }


  @media (max-width:768px){
    h1{
      color: antiquewhite;
      text-shadow: 0px 0px 5px ghostwhite;
    }
    .container{
      border: none;
        background-color: rgb(1, 5, 29);
        width: 99.85%;
    }

    #joke{
        background-color: rgb(1, 5, 29);
        border-radius: 40px;
        width: 330px;
        height: 450px;
        color: rgb(138, 197, 252);
    }

    button{
        font-size: 28px;
        width: 140px;
        
    }
  }